{%extends 'base.html'%}

{%block title_link%}
<title>Change Password</title>
{%endblock%}

{%block body%}

<body class="background">
    {% if not chk %}

    <div class=" center background" >
        <form method="post" >{% csrf_token %}
            {% for field in form %}
            <div >
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
            </div>
            {% endfor %}
            <input type="submit" value="Change Password" class="btn btn-success ">
        </form>
    </div>


    {% else %}

    <div class="center background">
        <h3 class ="text-success">Your Password has been changed. Redirecting ...</h3>
    </div>
    <script type="text/javascript">
        (function() {
            setTimeout(function() {
                window.location = "../../";
            }, 3000); /* 1000 = 1 second*/
        })();
    </script>

    {% endif %}
</body>

{%endblock%}
